body {
    font-family: 'Lato', sans-serif;
    text-align: center; margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 32px;
    height: 200px;
    background-color: lightseagreen;
}

header > div > img {
    height: 200px;
}

.header-nav-container {
    height: 200px;
    border: 1px solid black;
    margin: 0 10px;
}

.header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0;
}

.header-nav-links {
    border: 5px solid red;
    padding: 30px;
    margin: 10px;
}

main {
    background-color: lightblue;
}

main > section {
    padding: 10px 0;
}

.projects-header {
    background-color: green;
    padding: 10px;
    font-size: 32px;
}

.projects-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
    width: 350px;
    border: 5px solid blue;
    padding: 80px 0;
    margin: 10px 10px;
    font-size: 32px;
}

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: navy;
    color: white;
}

@media (min-width: 600px) and (max-width: 1000px) {
    .header-profile-pic {
        display: none;
    }

    .header-logo {
        display: none;
    }
    
    .header-nav {
        display: flex;
    }
}

@media (max-width: 600px) {
    header {
        font-size: 20px;
        padding: 0;
        height: auto;
    }
    
    .header-profile-pic {
        display: none;
    }

    .header-logo {
        display: none;
    }

    .header-nav-container {
        height: auto;
        margin: 0;
    }
    
    .header-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .header-nav-links {
        border: 5px solid red;
        padding: 20px;
        margin: 5px;
    }

    .video-frame {
        width: 100%;
    }
}