body {
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    margin: 0 auto;
}

#profilepic {
    float:left;
    width:200px;
    height:100%;
}

#textheader {
    height:auto;
    border:3px;
    border: 3px solid black;
    float:right;
    background-color:#b7d6b3;
}

#textheader-name {
    font-size:24px;
    font-weight:bold;
    text-align:center;
}

#textheader-title {
    font-size:20px;
    font-weight:bold;
}

#textheader-profile {
    font-size:14px;
}

a {
    text-align: center;
    padding-left:192px;
}

h2 {
    text-decoration: underline;
}

main {/* used as container*/
    /*border: 1px solid red; -- use this if need a red border about body for testing*/
    height: 100%;
    width: 100%;
    display: inline-block;
}

.content-left {
    border: 3px solid black;
    width: 49%;
    left: 8px;
    float: left;
}

.content-right {
    border: 3px solid black;
    width: 49%;
    right: 8px;
    float: right;
    margin-bottom: 12px;
}

footer {
    text-align: center;
}