body {
    font-family: 'Noto Sans', sans-serif;
    background-color: lightblue;
}

main {
    margin-top: 10px;
}

.top-container {
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
    background-color: pink;
    text-align: center;
}

.top-desc {
    padding: 0 10%;
}

.container {
    margin: 10px 0;
}

.circle-container {
    height: auto;
    display: flex;
    flex-direction: row;
}

.circle {
    border: 5px solid red;
    border-radius: 200px;
    height: 400px;
    width: 400px;
    background-color: green;
}

.left-circle {
    margin-left: 200px;
    margin-right: auto;
}

.right-circle {
    margin-left: auto;
    margin-right: 200px;
}

.circle-content {
    text-align: center;
    margin-top: 40%;
    font-size: 2em;
}



.story-header {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    background-color: blue;
}


.story-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.story-box {
    border: 1px solid black;
    width: 350px;
    height: 200px;
    margin: 10px 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    background: navy;
}